#custom-list > ol {
    padding-left: 1.1em;
}
#custom-list > ol li {
    padding-left: 0.5em;
}

#custom-list > ul {
    padding-left: 1.1em;
}
#custom-list > ul li {
    padding-left: 0.5em;
}

#custom-list > p {
	margin-bottom: 1rem;
}

article#custom-list > p:first-child:first-letter {
    /*font-family: 'Playfair Display', serif !important;*/
    /*font-style: italic;*/
    float: left;
    font-size: 60px;
    line-height: 60px;
    padding-top: 0px;
    padding-right: 8px;
    padding-left: 0px;
    color: #000;
    initial-letter: 2;
}

.card {
    border-radius: 0rem;
}

/*.dropcap > p:first-child:first-letter {
    float: left;
    font-size: 50px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    color: #000;
    initial-letter: 2;
}*/
#header.sticky-header:not(.static-sticky), #header.sticky-header:not(.static-sticky) #header-wrap, #header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
    height: 80px;
}

#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
    padding-top: 29px;
    padding-bottom: 29px;
}

#header.sticky-header:not(.static-sticky) #top-search, #header.sticky-header:not(.static-sticky) #top-cart, #header.sticky-header:not(.static-sticky) #side-panel-trigger {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}